<h4 align=center> Filter By: </h4>
<h4 align=center> <%= link_to 'Index', action: 'index' %> | <%= link_to 'Sports', action: 'sports' %> | <%= link_to 'Extreme Sports', action: 'exsports' %> | <%= link_to 'Online Gaming', action: 'gaming' %> | <%= link_to 'Academics', action: 'academic' %> | <%= link_to 'Music', action: 'music' %></h4>
<h3 align=center><%= link_to 'Main Page', controller: 'main', action: 'index' %> | About</h3> 