<h1 align = center>Listing Groups: Academics</h1>
<%= link_to 'Register a Group Ad', new_group_path %>
<table align = center>
    <tr>
        <th>Group Name</th>
        <th>Number Needed</th>
        <th>Total Group Size</th>
    </tr>
    
    <% @groups.each do |group| %>
        <% if group.category == "Academics" %>
        <tr>
            <td><%= group.groupName %></td>
            <td><%= group.numberNeeded %></td>
            <td><%= group.numberTotal %></td>
            
            <td><%= link_to 'View', group_path(group) %></td>
            <td><%= link_to 'Update', edit_group_path(group) %></td>
            #<td><%= link_to 'Delete', group_path(group), method: :delete, data: {confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    <% end %>
    
</table>

<%= render 'footer' %>