<h1 align=center>Listing Groups: All</h1>
<h4 align=center><%= link_to 'Register a Group Ad', new_group_path %></h4>
<table align=center>
    <tr>
        <th>Group Name</th>
        <th>Number Needed</th>
        <th>Total Group Size</th>
        <th>Category</th>
    </tr>
    
    <% @groups.each do |group| %>
                
        <tr>
            <td><%= group.groupName %></td>
            <td><%= group.numberNeeded %></td>
            <td><%= group.numberTotal %></td>
            <td><%= group.category %></td>
            
            <td><%= link_to 'View', group_path(group) %></td>
            <td><%= link_to 'Update', edit_group_path(group) %></td>
            #<td><%= link_to 'Delete', group_path(group), method: :delete, data: {confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    
</table>

<%= render 'footer' %>