<p>
    <strong>Group Name:</strong>
    <%= @group.groupName %>
</p>

<p>
    <strong>Description:</strong>
    <%= @group.description %>
</p>

<p>
    <strong>Number Needed:</strong>
    <%= @group.numberNeeded %>
</p>

<p>
    <strong>Number Total:</strong>
    <%= @group.numberTotal %>
</p>

<p>
    <strong>Category:</strong>
    <%= @group.category %>
</p>