<h1>
    <strong>Group Name:</strong>
    <%= @group.groupName %>
</h1>


<h2>
    <strong>Number Needed:</strong>
    <%= @group.numberNeeded %>
</h2>

<h2>
    <strong>Number Total:</strong>
    <%= @group.numberTotal %>
</h2>

<p>
    <%= @group.description %>
</p>

<h4>
        Apply to this group:
    </h4>
    <%= render 'applicants/form' %>

<h4>Applicants: </h4>
    <%=render @group.applicants %>
<%= link_to 'Main Page',  controller: 'main', action: 'index' %>