<h1 align=center>Group Finder</h1>
<h2 align = center>Create or find groups in one of the following categories: </h2>

<table align=center>
    <tr>
        <th>Section</th>
        <th>Entries</th>
    </tr>
    
    <tr>
        <td><%= link_to 'Sports', controller: 'groups', action: 'sports' %></td>
        <td> <%= Group.distinct.count('id') %>
    </tr>
    <tr>
        <td><%= link_to 'Extreme Sports', controller: 'groups', action: 'exsports' %></td>
        <td>0</td>
    </tr>
        <tr>
        <td><%= link_to 'Music', controller: 'groups', action: 'music' %></td>
        <td>0</td>
    </tr>
        <tr>
        <td><%= link_to 'Online Gaming', controller: 'groups', action: 'online' %></td>
        <td>0</td>
    </tr>
        <tr>
        <td><%= link_to 'Academics', controller: 'groups', action: 'academic' %></td>
        <td>0</td>
    </tr>
        <td><%= link_to 'All', controller: 'groups' %></td>
        <td> <%= Group.distinct.count('id') %>
        </td>
    </tr>
</table>

<h3 align=center>Main | About</h3> 